body{
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
    background:
    linear-gradient(rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)),
    url("/static/logo.png");

    background-size:300px;
    background-repeat:repeat;
    background-attachment:fixed;
    color:white;
}

/* CENTER CONTAINER */

.container{
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

/* LOGIN & REGISTER CARD */

.card{
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(10px);
    padding:40px;
    width:350px;
    border-radius:20px;
    box-shadow:0px 0px 20px rgba(0,0,0,0.5);
    text-align:center;
}

/* HEADINGS */

h1{
    font-size:40px;
    margin-bottom:30px;
    color:#00d9ff;
}

h2{
    color:white;
}

/* INPUTS */

input{
    width:90%;
    padding:14px;
    margin:12px 0;
    border:none;
    border-radius:10px;
    outline:none;
    background:rgba(255,255,255,0.2);
    color:white;
    font-size:16px;
}

/* PLACEHOLDER */

input::placeholder{
    color:#ddd;
}

/* BUTTONS */

button{
    width:95%;
    padding:14px;
    margin-top:15px;
    border:none;
    border-radius:10px;
    background:#00bcd4;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#0097a7;
    transform:scale(1.03);
}

/* LINKS */

a{
    color:#00d9ff;
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

/* DASHBOARD BUTTONS */

.dashboard-buttons{
    display:flex;
    flex-direction:column;
    gap:20px;
    width:300px;
}

/* CARDS */

.job-card{
    background:rgba(255,255,255,0.08);
    padding:20px;
    margin:20px;
    border-radius:15px;
    width:300px;
    text-align:center;
    box-shadow:0px 0px 15px rgba(0,0,0,0.4);
}