body{
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
    background:linear-gradient(to right,#36d1dc,#5b86e5);
}

.container{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top:80px;
}

h1{
    color:white;
    font-size:45px;
    margin-bottom:30px;
}

.card{
    background:white;
    padding:20px;
    margin:20px auto;
    width:300px;
    border-radius:15px;
    box-shadow:0px 4px 10px rgba(0,0,0,0.3);
}

input{
    width:250px;
    padding:12px;
    margin:10px;
    border:none;
    border-radius:10px;
}

button{
    padding:12px 20px;
    border:none;
    border-radius:10px;
    background:#1f3c88;
    color:white;
    cursor:pointer;
    font-size:16px;
    margin:10px;
}

button:hover{
    background:#163172;
}

a{
    text-decoration:none;
}