<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>Government Job Portal</h1>

    <div class="cards">

        <a href="/ai_jobs" class="card">
            AI Recommended Jobs
        </a>

        <a href="/live_jobs" class="card">
            Live Government Jobs
        </a>

    </div>

</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>