<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>Government Job Portal</h1>

    <div class="cards">

        <a href="/ai_jobs">
            <button>
            AI Recommended Jobs
            </button>
        </a>

        <a href="/livejobs">
            <button>
            Live Government Jobs
            </button>
        </a>

    </div>

</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>