<!DOCTYPE html>
<html>

<head>

    <title>Live Govt Jobs</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>Live Govt Jobs</h1>

        {% for job in jobs %}

        <div class="card">

            <h2>{{ job.title }}</h2>

            <a href="{{ job.link }}" target="_blank">

                <button>
                    Apply Now
                </button>

            </a>

        </div>

        {% endfor %}

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>