<!DOCTYPE html>
<html>
<head>
    <title>Govt Job Portal - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <div class="card">

        <h1>Govt Job Portal</h1>
        <h2>Login</h2>

        <form method="POST">

            <input type="text" name="username" placeholder="Username" required>

            <input type="password" name="password" placeholder="Password" required>

            <button type="submit">Login</button>

        </form>

        <p>
            Don't have account?
            <a href="/register">Register</a>
        </p>

    </div>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>