<!DOCTYPE html>
<html>
<head>
    <title>Register</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <div class="card">

        <h1>Create Account</h1>

        <form method="POST">

            <input type="text" name="username" placeholder="Username" required>

            <input type="password" name="password" placeholder="Password" required>

            <input type="number" name="age" placeholder="Age" required>

            <select name="qualification">

                <option>BTech</option>
                <option>Degree</option>
                <option>Intermediate</option>
                <option>Diploma</option>

            </select>

            <select name="branch">

                <option>CSE</option>
                <option>ECE</option>
                <option>EEE</option>
                <option>MECH</option>
                <option>CIVIL</option>

            </select>

            <button type="submit">Register</button>

        </form>

        <p>
            Already have account?
            <a href="/">Login</a>
        </p>

    </div>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>